/* register.css */

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  label {
    display: inline-block;
    width: 141px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="password"],
  input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  p {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
    color: red;
  }
  
  .first_name,
  .last_name,
  .mob,
  .profile,
  .email,
  .pass,
  .confir {
    font-weight: bold;
    margin-bottom: 5px;
  }
  